html, body{
    height: 100%;
}


body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 32px;
}

.main-title {
    color: #385555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 32px;
  
}

.list{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;

}

.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0, .4);
    background-image: url(imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__image img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;

}


.list-item__name{
    margin: 0;
    font-size: 24px;
    color:#385555;
}

.list-item__action{
    display: flex;
    justify-content: space-evenly;
    background-color: #e5e5e5;
    padding: 16px;

}

