body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title{
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 46px ;
}

.header{
    display: flex;
    background-color: #05050873;
    padding: 16px;
    justify-content: space-between ;
    align-items:center;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;

}

.header__nav ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;

}

.header__nav a{
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
}

.header__nav a:hover{
    text-decoration: underline;
    background-color: rgb(48, 48, 128);
    
}

.pricing{
    display: flex;
    gap: 16px;
}

.pricing-plan{
    flex-grow: 1;
    background-color: #1f262c;
    padding: 16px;
    border-radius:8px;
    box-shadow: 0 4px 12px rgba(48, 48, 128, .5);
    display:flex;
    flex-direction: column;
}

.pricing-plan__title{
    text-transform: uppercase;
    padding: 4px 0px 8px; 
    border-bottom: 2px solid rgb(48, 48, 128);
    margin-bottom: 12px;
}
.pricing-plan__price{
    font-size: 30px;

}

.pricing-plan__features{
    margin: 0 0 35px;
    color: #cecdcdd2;
    padding-left: 16px;
    line-height: 1.8;
    flex-grow: 1;
}

.pricing-plan__cta{
   color: rgb(75, 75, 255);
   text-decoration: none;
   background-color:rgba(48, 48, 128, .8);
   border-radius: 6px;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: bold;
   padding: 16px 10px;
   text-align: center;
}

.pricing-plan__cta:hover{
    background-color: rgba(48, 48, 128, .3);
    color: white;
}

